{% extends 'partials/layout.twig' %}
{% block conten %}
<form method="post" action="{{'usuarios/eliminar_u'|url}}" accept-charset="UTF-8">
    <input hidden value="{{model.id}}" name="id">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Eliminar Usuario</div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 form-group">            
                    <h4><strong>Nombre:</strong></h4>
                    <label>{{model.nombre}}</label>
                </div>
                <div class="col-md-6 form-group">            
                    <h4><strong>Apellido Paterno:</strong></h4>
                    <label>{{model.apaterno}}</label>
                </div>   
            </div>
            <div class="row"> 
                <div class="col-md-6 form-group">            
                    <h4><strong>Correo Electronico:</strong></h4>
                    <label>{{model.correo}}</label>
                </div>   
                <div class="col-md-6 form-group">            
                    <h4><strong>Rol:</strong></h4>
                    <label>{{model.rol.nombre}}</label>
                </div>               
            </div> 
            <div class="row ">
                <div class="text-right form-group col-md-12">
                    <a href="{{ 'usuarios/'|url }}" class="btn btn-default"> Cancelar</a>
                    <button type="submit" class="btn btn-danger">
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>     
</form>
{% endblock %}